*.png
*.json
*.tif
*.tiff
*.key
*.pyc
*.geojson
*__pycache__*
*.DS_Store
*.idea

build/
data/
out/
tmp/
api/
lightning_logs/
tb_logs/
cache/
venv/
SUASDataAnnotation.egg-info/
*jobfileRDA*
*default_filepath*
*lightning_logs*